@import url(/pages/main/task-list.css);
@import url(/pages/main/add-task-form.css);

h1,
h2 {
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
}

div.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    margin-top: 5px;
}